<html>
    <head>
        <title>Usuários</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            
            <a href="/">Voltar</a>
            
            <h2>Usuários</h2>
                        
            <button onclick="addUser()">Adicionar</button>
            <br/>
            <!--
            <div id="divAdd" style="display: none; margin: 7px 0 5px 7px;">
                <form action="#" th:action="@{user}" th:object="${user}" method="post">
                    <label>Nome</label>
                    <input type="text" name="name" id="name" th:field="*{name}" />
                    
                    <label>E-mail</label>
                    <input type="text" name="email" id="email" th:field="*{email} />
                    
                    <input type="submit" value="Salvar" />
                </form>
            </div>
            -->
            
            <br/>
            <table border="1">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr th:each="user : ${usersList}">
                        <td th:text="${user.nome}"></td>
                        <td th:text="${user.email}"></td>
                        <td>
                            <a href="#">Editar</a>
                            <a href="#">Deletar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            
        </div>
        
        <script>
            function addUser(){
                //const element = document.getElementById('divAdd');
                //element.style.removeProperty('display');
                window.location.href = "/user";
            }
        </script>
    </body>
</html>
